<div class="opgp_wetg_val_hdr padd_l_r_21">
    <img *ngIf="isAPILoad" class="width-50" src="assets/images/loading.gif" alt="loading">
    <ul>
        <li>Subjective KPIs <span class="obj-KPI-note"> ( Self-Rating / Manager-Rating  KPIs )</span></li> 
        <li class="score_card">Final Subjective Score ( {{pMSFInalRating['nonFixedTotal']}} % )</li> 
      </ul> 
</div>

<div class="opgb_self_rating">
    <div class="opgb_self_rating_single" [ngStyle]="getContainerWidth()" *ngFor="let kpid of pMSKpiLists;let i=index;">
        <div class="opgp_rate_wtg padd_l_r_21">
            <ul>
                <li><span>{{kpid['weightage']}} %</span> Weightage</li> 
                <li style="text-align: right">{{kpid['kpiNumber']}}</li> 
            </ul>
        </div>

        <div class="opgb_rating_body padd_l_r_21">
            <div class="kpi_dec">
                <p><span class="kpi"><b>KPI</b></span><br/><span class="kpi_des">{{kpid['kpiName']}}.</span></p>
            </div>

            <div class="kra_card">
                <p><span><b>KRAs</b></span><br/>{{kpid['kpiDescription']}}.</p>
            </div>

            <div class="self_rating_input self_rating_color" style="margin-bottom: 300px;">

                <div class="opgb_sytm_rtng">
                    <label>Self Rating</label>
                    <!-- <input value="{{kpid.self_rate}}"
                        [disabled]="!isCurrentQuarter || !isPersonal || kpid.self_rate_disable" type="text"
                        name="self_rate" required OnlyNumber="true"  [attr.maxlength]="(kpid.units==='Percentage' ? 4:3)"  minlength="1" placeholder="TBD">
                    <small *ngIf="kpid.units==='Percentage'" >%</small> -->
                    <p #selfMeasureWeight class="mesure_rate">{{(kpid['associateScore'] ? kpid['associateScore'] : 'TBD')}}</p>
                
                </div>

                <div class="opgb_sytm_rtng">
                    <select class="mesure-select" (change)="selfRatingOptions(i,$event)" [disabled] = "!isPersonal || kpid['associateMeasurementScale']">
                        <option selected disabled>{{kpid['associateMeasurementScale'] ? kpid['associateMeasurementScale'] : 'Measurement Scale'}}</option>
                        <option value="120">Outperforms</option>
                        <option value="100">Exceeds Expectations</option>
                        <option value="80">Meets Expectations</option>
                        <option value="60">Needs Improvement</option>
                        <option value="0">Unsatisfactory</option>
                    </select>
                </div>

                <div class="opgb_sytm_rtng">
                    <textarea placeholder="Associate comments" name="associateinputs" (change)="associateCMTChange(i,$event)" #selfCMT
                    [disabled] = "!isPersonal || kpid['comment']" class="inputs_textarea">{{kpid['comment'] ? kpid['comment'] : ''}}</textarea>
                </div>
               
                <div class="opgb_sytm_rtng m-t-10">
                    <label>Manager Rating</label>
                     <!-- <input (keyup)="handleInputChange($event,'MANAGER','mng_rate',i)" value="{{kpid.mng_rate}}"
                        type="text" placeholder="TBD"  [attr.maxlength]="(kpid.units==='Percentage' ? 4:3)" name="mng_rate" required OnlyNumber="true"
                        [disabled]="(isPersonal || kpid.mng_rate_disable || kpid.self_rate==='' || kpid.self_rate===null) && kpid.raiseDiscussionStaus!=='In Progress'">
                        <small *ngIf="kpid.units==='Percentage'" >%</small> -->
                        <p #managerMeasureWeight class="mesure_rate">{{ (kpid['managerScore'] ? kpid['managerScore'] : 'TBD')}}</p>
                
                </div>

                 
                <div class="opgb_sytm_rtng">
                    <select class="mesure-select mar-top-20" (change)="managerRatingOptions(i,$event)"  [disabled] = "isPersonal || kpid['managerMeasurementScale'] || !kpid['comment'] ">
                        <option selected disabled>{{kpid['managerMeasurementScale'] ? kpid['managerMeasurementScale'] : 'Measurement Scale'}}</option>
                        <option value="120">Outperforms</option>
                        <option value="100">Exceeds Expectations</option>
                        <option value="80">Meets Expectations</option>
                        <option value="60">Needs Improvement</option>
                        <option value="0">Unsatisfactory</option>
                      </select>
                </div>

                <div class="opgb_sytm_rtng">
                    <textarea placeholder="Manager comments" name="Manager Inputs"  (change)="maCMTChange(i,$event)" #managerCMT
                    [disabled] = "isPersonal || kpid['managerComment'] || !kpid['comment']" class="inputs_textarea"> {{kpid['managerComment'] ? kpid['managerComment'] : ''}}</textarea>
                </div>

            </div>
            <div class="opgb_eliglbe_val">
               <!-- <div>
                    <span class="raise_discsn" *ngIf="isPersonal">
                        <input type="button" [disabled]="!isCurrentQuarter" (click)="riceDiscussition(kpid)"
                            name="buton" value="RAISE DISCUSSION">
                    </span>
                    <span class="raise_cmnt">
                        <h6 (click)="isCurrentQuarter && commentPopup(kpid)">Comments
                            (<span>{{(kpid['pMSComments'] && kpid['pMSComments']!==null) ? kpid['pMSComments'].length : 0}}</span>)
                        </h6>
                    </span>
                </div> -->
            </div>
        </div>
    </div>
</div>