    .rating_comment_popup button {
    border-radius: 26px;
    background-color: #e7e7e7;
    font-size: 16px;
    color: #626466;
    font-family: 'poppins_mediumregular';
    border: none;
    outline: none;
    padding: 14px 20px;
    min-width: 101px;
    text-align: center;
    cursor: pointer;
}
.rating_comment_popup button:last-child {
    background: #71c285;
    color: #fff;
    margin-left: 20px;
    cursor: pointer;
}
.rating_comment_popup {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 24px 24px 0 rgba(0, 0, 0, 0.3), 0 0 24px 0 rgba(0, 0, 0, 0.22);
    width: 700px;
}
.rating_comment_popup_in{    
  overflow-x: scroll;
  padding: 45px 50px;
  height: 415px;
}
.comment_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.comment_heading h4 {
  font-size: 20px;
  line-height: 24px;
  font-family: 'latomedium';
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 40px;
}
.comment_heading a {
    font-size: 13px;
    line-height: 17px;
    font-family: 'latomedium';
    color: #00b44b;
    opacity: 0.6;
}
.comment_form li label{
  font-family: 'latoregular';
  font-size: 13px;
  line-height: normal;
  letter-spacing: normal;
  color: #9b9b9b;
  margin-bottom: 32px;
}
.comment_form li input{
  font-family: 'lato_lightitalic';
  border: none;
  outline: none;
  font-size: 16px;
  line-height: normal;
  letter-spacing: normal;
  color: #9b9b9b;
  border-bottom: solid 3px #71c285;
  width: 100%;
}
.comment_form li input::-webkit-input-placeholder {
    font-family: 'lato_lightitalic';
  font-size: 16px;
  color: #9b9b9b;
}
.comment_form li input:-ms-input-placeholder {
    font-family: 'lato_lightitalic';
  font-size: 16px;
  color: #9b9b9b;
}
.comment_form li input::placeholder {
    font-family: 'lato_lightitalic';
  font-size: 16px;
  color: #9b9b9b;
}
.comment_form li{
    margin-bottom: 48px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.comments-table{
  width: 100%;
  margin-top: 15px;
}
.comments-table thead tr th{
  border: 1px solid #f1f1ff;
  padding: 5px;
  font-size: 12px;
}
.comments-table tbody tr td{
  border: 1px solid #f1f1f1;
  padding: 5px;
  font-size: 12px;
  background: #ddd;
}
.close-btn{
  font-size: 14px;
  color: #626466;
  font-family: 'poppins_mediumregular';
  text-align: center;
  cursor: pointer;
  opacity: 0.8;
}
.go-btn{
  padding: 10px 10px;
  color: #71c285;
  opacity: 1.5;
  font-family: 'latoregular';
  font-size: 14px;
  cursor: pointer;
}
.m-r-10{
  margin-right: 15px;
}

.show_comments{
  font-size: 12px;
  line-height: 18px;
}

.mar-bot-20{
  margin-bottom: 20px;
}

.comment_form input[type="text"]:disabled{opacity: 0.5;}

.width-50{
  max-width: 20px;
  max-height: 20px;
  display: table;
  float: left;
  margin-top:10px;
}

.kpi_des{
  font-size: 12px;
  line-height: 18px;
}

.mar_bot_25{
  margin-bottom: 25px;
}

.kpi{
  font-size: 13px;
}

.kpi_dec{
  height: 60px;
   overflow-y: auto;
}