<style>
  table td { font-size: 12px; line-height: 1.0; }
  .time_sheet { width: 100%; padding: 0px 0px 5px 51px;}
  .leave_history {width: 100%;height: 180px !important;overflow-x: scroll;box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%);}
  .leave_history .table td{padding: 6px 16px;}
  .leave_history .table thead th{font-size: 12px;}
  .leave_history .table .cdk-column-avathar{width:0px !important;}
  .mat-elevation-z8{box-shadow: none !important;}
</style>

<div class="time_sheet profileSheet">
    <!-- breadcrumb_list -->
    <div class="breadcrumb_list">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="https://ep.suneratech.com/Home/Dashboard">Home</a></li>
            <li class="breadcrumb-item"><a href="/modules/#/profile-landing">Profile</a></li>
            <li class="breadcrumb-item"><a href="/modules/#/hr-associates">Associates List</a></li>
        </ol>
    </div>
    <!-- breadcrumb_list-End-->

  <div class="export">
    <select (change)='onOptionsSelected($event)' class="associate_list">
        <option value="Active"> Active</option>
        <option value="inActive"> InActive</option>
    </select>

    <button class="btn_1 excel_export" (click)="exportDataAsExcel()">Export to excel</button>
    <button (click)="newEntry()" class="btn_1 btn-holiday-calendar OnBoarding">
        Associates Onboarding
      </button>  
</div>

  <div class="profileMain">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
     <ag-grid-angular
      style="width: 100%; height: 500px"
      class="ag-theme-material"
      [rowData]="displayedRowData"
      [frameworkComponents]="frameworkComponents"
      [columnDefs]="displayedColumnDefs"
      (gridReady)="onGridReady($event)"
      pagination="true"
    >
    </ag-grid-angular>
</div>
<p-confirmDialog
  header="Confirmation Alert!"
  icon="pi pi-exclamation-triangle"
></p-confirmDialog>
