.btn-no-active{opacity: 0.5;cursor: no-drop;}
.btn-active{opacity: 1;cursor: pointer;}
.submit_disable{background: #71c285;color: #ffffff;cursor: no-drop;opacity: 0.5;}
.fixed_body{
    overflow: hidden;
    overflow-y: scroll;
    background: #f1f4fb;
    margin-left: -15px;
    margin-right: -2%;
    padding: 1%;
}