
        <div class="eval_rating_heading" role="">
            <div class="modal-content">
                <div class="modal-header">
                    <img  (click)="close()" lass="close" data-dismiss="modal" aria-label="Close" src="assets/images/cancel.png">
                </div>
                <div class="modal-body">
                    <div class="ass_key_info">
                        <div class="ass_key_logo">
                            <ul>
                                <li><small class="yellow_txt">Tracks</small> are marked based on the.................</li>
                            </ul>
                        </div>
                        <div class="full_key_info">
                            <ul>
                                <li>
                                    <h5>SEG</h5>
                                    <h6>Software Engineer</h6>
                                </li>
                                <li>
                                    <h5>EBS</h5>
                                    <h6>Lead</h6>
                                </li>
                                <li>
                                    <h5>Technology</h5>
                                    <h6>Senior Software Engineer</h6>
                                </li>
                                <li>
                                    <h5>PeopleSoft</h5>
                                    <h6>Associate Manager / Associate Architect / Senior Lead</h6>
                                </li>
                                <li>
                                    <h5>Cloud Aps</h5>
                                    <h6>Software Engineer</h6>
                                </li>
                                <li>
                                    <h5>Sales Force</h5>
                                    <h6>Manager / Architect</h6>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
