<div class="rating_comment_popup leaveBalance_popup">
    <div class="submit_pop_dtl p-0">
        <div class="d-flex popup-heading w-100 item-jc">
            <h5 class="w-color"> Shift information</h5>

            <span (click)="closePopup()" class="c-btn"> <img src="assets/images/leave/icon-close.png" alt=""> </span>
        </div>
        <div class="leave_history_table">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col" style="text-align: center;">Shift Name</th>
                        <th scope="col">Time In</th>
                        <th scope="col">Time Out </th>
                        <th scope="col">Minimum Hours</th>
                        <th scope="col">NSA Applicable</th>
                        <th scope="col" style="text-align: center;"> NSA Amount INR</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let s of list; let i=index;">
                        <td style="text-align: center;">{{s.shiftName}}</td>
                        <td>{{formatDate(s.shiftStartTime)}}</td>
                        <td>{{formatDate(s.shiftEndTime)}}</td>
                        <td style="text-align: center;">{{s.minimumHours}}</td>
                        <td style="text-align: center;">{{s.isNSA ? 'Yes' : 'No'}}</td>
                        <td style="text-align: center;">{{s.minimumHours}}</td>

                        
                    </tr>
                </tbody>
            </table>
          </div>
         
    </div>
</div>