<div class="employee_profile_main">
    <div class="empl_logo" style="width: 75px !important;height: 60px !important;" >
        <img style="width: 75px;height: 60px;" src="{{managerData?.image_Path}}" >
    </div>
    <div class="employee_profile_details">
        <ul>
            <li>
                <h6>{{managerData?.associateName}}</h6>
            </li>
            <li>
                <h6>{{managerData?.emp_Id}}</h6>
            </li>
            <li>
                <h6>{{managerData?.sowName}}</h6>
            </li>
            <li>
                <h6>{{managerData?.buName}}</h6>
            </li>
            <li>
                <h6>{{managerData?.reportingManagerName}}</h6>
            </li>
            <li>
                <h6>{{managerData?.totalHours}} Hours</h6>
            </li>
        </ul>
    </div>
</div>