<div class="opgp_rate_wtg padd_l_r_21">
    <ul>
        <li><span>100%</span>  Weightage</li>
        <li>KPI-1</li>
    </ul>
</div>
<div class="opgb_rating_body padd_l_r_21">
    <div class="rating_body_hdr">
        <p>Defects delivered to customer environment.</p>
    </div>
    <div class="self_rating_input self_rating_color">
        <div class="opgb_sytm_rtng">
            <label>Self Rating</label>
            <input type="text" name="text" placeholder="TBD">
            <small>%</small>
        </div>
        <div class="opgb_sytm_rtng">
            <label>Manager Rating</label>
            <input type="text" name="text" placeholder="TBD">
            <small>%</small>
        </div>
    </div>
    <div class="opgb_eliglbe_val">
        <ul>
            <li class="raise_discsn">
                <input type="button" name="buton" value="RAISE DISCUSSION">
            </li>
            <li class="raise_cmnt">
                <h6>Comments (<span>0</span>)</h6>
            </li>
        </ul>
    </div>
</div>