<!-- <div class="loader" *ngIf="isLoading"></div> -->
<!-- <h5>Loadng...</h5> -->
<div class="pad50">

    <div *ngIf="loderType=='ring'" class="lds-ring">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>


    <div *ngIf="loderType=='roller'" class="lds-roller">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>

    <div *ngIf="loderType=='ellipsis'" class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>

    <div *ngIf="loderType=='ripple'" class="lds-ripple">
        <div></div>
        <div></div>
    </div>

    <div *ngIf="loderType=='spinner'" class="lds-spinner">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>


    <div *ngIf="loderType=='hourglass'" class="lds-hourglass"></div>

    <div *ngIf="loderType=='facebook'"  class="lds-facebook">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>

    <div *ngIf="loderType=='square'" class="squareLoader">
        <div class="square" ></div>
        <div class="square"></div>
        <div class="square last"></div>
        <div class="square clear"></div>
        <div class="square"></div>
        <div class="square last"></div>
        <div class="square clear"></div>
        <div class="square "></div>
        <div class="square last"></div>
      </div>
    


</div>