<div class="learning-training">
  <div class="container">
    <div class="row m-0 p-0 p-b-3">
      <div class="col-8 pageTitle">
        <h4>Admin Dashboard</h4>
      </div>
      <div class="col-4 text-right">
        <button
          type="button"
          class="btn btn-sm btn-success"
          (click)="OpenCreateCourseModal('create')"
        >
          Create New Cource
        </button>
      </div>
    </div>

    <div class="enroll-courses">
      <div class="row">
        <div class="card">
          <div class="card-body">
            <div class="row m-0 p-0 mb-2">
              <div class="col-9">
                <h4>Courses</h4>
              </div>
              <div class="col-3">
                <input
                  type="search"
                  class="form-control"
                  placeholder="Search"
                  (keyup)="searchFun()"
                  [(ngModel)]="searchKeyword"
                />
              </div>
            </div>

            <mat-progress-bar
              *ngIf="loading"
              mode="indeterminate"
            ></mat-progress-bar>
            <ag-grid-angular
              style="width: 100%; height: 500px"
              class="ag-theme-material"
              [rowData]="displayedRowData"
              [columnDefs]="displayedColumnDefs"
              [frameworkComponents]="frameworkComponents"
              pagination="true"
              (gridReady)="onGridReady($event)"
            >
            </ag-grid-angular>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Creat Enroll Course - Modal -->
  <div
    class="modal fade createnrollCourse"
    id="createnrollCourse"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
    [ngClass]="popup == 'create' ? 'show d-block' : ''"
  >
    <div class="modal-dialog modal-lg mt-5 pt-5">
      <div class="modal-content">
        <div class="modal-header">
          <h3 *ngIf="selectedItem == undefined">Create New Training</h3>
          <h3 *ngIf="selectedItem != undefined">Update Training</h3>
          <i class="fa fa-times pointer" (click)="CloseCreateCourseModal()"></i>
        </div>
        <div class="modal-body">
          <app-course-form
            [course]="selectCourse"
            (GetCourses)="GetCourses()"
          ></app-course-form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            (click)="CloseCreateCourseModal()"
          >
            Close
          </button>
          <button
            type="button"
            *ngIf="selectedItem == undefined"
            class="btn btn-danger"
            (click)="OnbtnSubmit()"
          >
            Create Course
          </button>
          <button
            type="button"
            *ngIf="selectedItem != undefined"
            class="btn btn-danger"
            (click)="OnbtnSubmit()"
          >
            Update Course
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
