<div class="breadcrumb_list">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="#">Home</a></li>
		<li class="breadcrumb-item"><a routerLinkActive="active"  routerLink="/orghierarchy">Organization Chart</a></li>
	</ol>
</div>
<div class="time_sheet_heading row">
<div class="col-12 text-center">
	<h4>Organization Chart</h4>
</div>
</div>
<div class="inner_page">
<!-- inner page Nav and Search -->
<div class="inner_nav_search">
	<nav>
		<ul>
			<li><a routerLinkActive="active" routerLink="/orghierarchy">Org Chart</a></li>
			<li><a routerLinkActive="active" routerLink="/project-hierarchy">Project Chart</a></li>
			<li><a routerLinkActive="active" routerLink="/bu-hierarchy">BU Chart</a></li>
		   <li><a routerLinkActive="active" routerLink="/my-reporting">My Line of Reporting</a></li>
		</ul>
	</nav>
	<!-- <div class="search_employe">
			 <form>
			<input type="text" name="focus" required class="search_box" placeholder="Enter search term" readonly/>
			<button class="close_icon" type="reset"></button>
			<button class="btn_search">
				
			</button>
		</form> 
	</div> -->
</div>
<!-- inner page Nav and Search End-->
</div>