<div class="mng_timesheet_table">
    <ul>
        <li>
            <label class="check_mng">
              <input type="checkbox" >
              <span class="checkmark"></span>
            </label>
        </li>
        <li>26-02-19</li>
        <li>Billable</li>
        <li>Customer Name Here</li>
        <li>MIDC Web Application</li>
        <li>UI Development</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing.</li>
        <li>000.00</li>
        <li>000.00</li>
        <li>In Progress</li>
        <li><div class="files_open_popup">(3 Files)</div></li>
    </ul>
</div>