<!-- <div class="my_requstition">
    <h4>My Requests

    </h4>
    <div class="requstition_header">
        <h5>Attributes </h5> <img *ngIf="isAPILoad" class="width-50" src="assets/images/loading.gif" alt="loading">
    </div>
    <app-preloader *ngIf="isLoade" class="go-center"></app-preloader>

    <div class="rqstn_attr" *ngIf="!isLoade">
        <div class="rqstn_attr_single" *ngFor="let req of pMS_RequisitionKpiDetails; let i = index;">
            <h6>{{req['kpiName']}}</h6>
            <p></p>
            <div class="rqstn_txtfield">
                <textarea ngForm name="requisitions{{i}}" [disabled]="!isCurrentQuarter || req.ass_cmt_disable || !isPersonal"
                    (keyup)="handleInputChange($event,'ASSOCIATE',i)" placeholder="Write WHAT you require & WHY?"
                    value="{{req.ass_cmt}}"> </textarea>
            </div>
            <h3>Manager Comments</h3>
            <div class="yr_rqstn_txtfield">
                <textarea ngForm name="manager{{i}}" (keyup)="handleInputChange($event,'MANAGER', i)"
                    placeholder="Manager inputs" value="{{req.mngr_cmt}}"
                    [disabled]="req.mngr_cmt_disable || isPersonal || req.ass_cmt==='' || req.ass_cmt===null"></textarea>
            </div>
        </div>
    </div>

    <div class="rqstn_btns" *ngIf="!isLoade">
        <ul>
            <li>
                <i class="fa fa-refresh" aria-hidden="true"></i>
                <input type="reset" name="reset" value="Reset all fields" (click)="resetAllFields()"
                    class="default_btn">
            </li>
        </ul>
    </div>
</div> -->