
<div class="performance_eval_rating">
    <app-performan-evalution-header [needKeyInfo]="needKeyInfo"></app-performan-evalution-header>
    <div *ngIf="isLoading">
        <app-preloader class="go-center"></app-preloader>
    </div>
    <div class="no-kpi-message" *ngIf="isNoKPIS && !isLoading">
        <p>
            <span *ngIf="!isPersonal" class="no_Kpis">No Goals Assigned, Kindly inform to HRBP!</span>
            <span *ngIf="isPersonal" class="no_Kpis">Your Goals not yet set by your Manager. Kindly check with your Manager</span>
            <small class="mail_txt" *ngIf="!showSendNowCTA && isCurrentQuarter && isPersonal"> ( Mail sent to your Manager )</small>
        </p>
        <button *ngIf="isPersonal && isCurrentQuarter && showSendNowCTA" [disabled]="!isCurrentQuarter"
            (click)="sendKPIRequest()">Send Now</button>
       <!-- <button *ngIf="!isPersonal" (click)="assignGoalsP()" class="assing-goals">Assign goals</button> -->
    </div>
      
    <div class="eval_rating_in row" *ngIf="!isLoading && !isNoKPIS" style="margin-bottom: 25px;">
        <div class="container" *ngIf="isSystemKPIs">
            <app-performan-evalution-left [associateID]="associateID" [isPersonal]="isPersonal" [KPIData]="KPIData"></app-performan-evalution-left>
        </div>
     </div>


    <div class="eval_rating_in row" *ngIf="!isLoading && !isNoKPIS">
      <!--  <div class="container" [ngClass]="{'container':isSystemKPIs===false,'container':isSystemKPIs===true}"> -->
        <div class="container">
            <app-performan-evalution-right [pMSKpiList]="pMSKpiList" [associateID]="associateID" [isPersonal]="isPersonal" [KPIData]="KPIData">
            </app-performan-evalution-right>
        </div>
    </div>

  
</div>