.shift_roster {background-color: #fff;}
.pad-1{padding: 1%;}
table, th, td {text-align: center;font-size: 12px;}
table th {background: #6c757d; color: #fff;}
.save_btn{border: none;background: #fff;color: #55705c;cursor: pointer;} 